name: Android CI

on:
  push:
    branches: [ trunk ]
  pull_request:
    branches: [ trunk ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - uses: gradle/wrapper-validation-action@v1      
    - uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Run build
      run: ./gradlew build
