name: Android CI

on: push

jobs:
  test:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3
    - uses: gradle/wrapper-validation-action@v1
    - uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: 11

    - name: Run instrumented tests
      uses: reactivecircus/android-emulator-runner@v2
      with:
        api-level: 31
        target: default
        arch: x86_64
        profile: pixel_5
        disable-animations: true
        force-avd-creation: false
        ram-size: 4096M
        emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none -no-snapshot-save
        script: ./gradlew cascade-compose:connectedDebugAndroidTest --stacktrace

    - name: (Fail-only) Bundle test reports
      if: failure()
      run: find . -type d '(' -name 'reports' -o -name 'androidTest-results' ')' | zip -@ -r instrumentation-test-build-reports.zip

    - name: (Fail-only) Upload the build report
      if: failure()
      uses: actions/upload-artifact@v2
      with:
        name: instrumentation-test-report
        path: instrumentation-test-build-reports.zip

    - name: Build and run unit tests
      run: ./gradlew check cascade-compose:verifyPaparazziDebug
